{{- if not .Values.node.cleanupOnly }}
{{- include "falcon-sensor.validateOneOfFalconCidOrFalconSecret" .}}
{{- $falconSecretKeys := list "cid" "provisioning_token" }}

apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "falcon-sensor.configMapName" . }}
  namespace: {{ include "falcon-sensor.namespace" . }}
  labels:
    app: "{{ include "falcon-sensor.name" . }}"
    app.kubernetes.io/name: {{ include "falcon-sensor.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    {{- if .Values.container.enabled }}
    app.kubernetes.io/component: "container_sensor"
    {{ else if .Values.node.enabled }}
    app.kubernetes.io/component: "kernel_sensor"
    {{- end }}
    crowdstrike.com/provider: crowdstrike
    helm.sh/chart: {{ include "falcon-sensor.chart" . }}

data:
  {{- if not (include "falcon-sensor.falconSecretEnabled" . | eq "true") }}
  FALCONCTL_OPT_CID: {{ include "falcon-sensor.falconCid" . }}
  {{- if .Values.falcon.provisioning_token }}
  FALCONCTL_OPT_PROVISIONING_TOKEN: {{ .Values.falcon.provisioning_token }}
  {{- end }}
  {{- end }}

  {{- range $key, $value := .Values.falcon }}
  {{- if and (or $value (eq ($value | toString) "false")) (not (has $key $falconSecretKeys)) }}
  FALCONCTL_OPT_{{ $key | upper }}: {{ $value | quote }}
  {{- end }}
  {{- end }}

  {{- if and .Values.node.enabled .Values.node.backend }}
  FALCONCTL_OPT_BACKEND: "{{ .Values.node.backend }}"
  FALCON_CLUSTER_NAME: "{{ .Values.node.clusterName }}"
  {{- end }}

  {{- if .Values.container.enabled }}
  CP_NAMESPACE: {{ include "falcon-sensor.namespace" . }}
  FALCON_IMAGE_PULL_POLICY: "{{ .Values.container.image.pullPolicy }}"
  FALCON_IMAGE: "{{ .Values.container.image.repository }}:{{ .Values.container.image.tag }}"
  FALCON_INJECTOR_LISTEN_PORT: "{{ .Values.container.injectorPort }}"
  {{- if .Values.container.image.pullSecrets.enable }}
  FALCON_IMAGE_PULL_SECRET: {{ include "falcon-sensor.container.imagePullSecretName" . | default (printf "%s-pull-secret" (include "falcon-sensor.fullname" .)) }}
  {{- end }}
  {{- if .Values.container.disablePodInjection }}
  INJECTION_DEFAULT_DISABLED: T
  {{- end }}
  {{- if .Values.container.alternateMountPath }}
  FALCON_MOUNT_ENABLED: T
  {{- end }}
  {{- if .Values.container.sensorResources }}
  FALCON_RESOURCES: '{{ toJson .Values.container.sensorResources | b64enc }}'
  {{- end }}
  {{- end }}
{{- end }}
