apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "falcon-kac.fullname" . }}-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "falcon-kac.labels" . | nindent 4 }}
data:
  __CS_ADMISSION_CONTROL_ENABLED: {{ .Values.admissionControl.enabled | quote }}
  {{- include "falcon-kac.generateWatcherEnvVars" . | nindent 2 }}
  FALCONCTL_OPT_CID: {{ .Values.falcon.cid }}
  {{- range $key, $value := .Values.falcon }}
  {{- if and (or $value (eq ($value | toString) "false")) (ne $key "cid") }}
  FALCONCTL_OPT_{{ $key | upper }}: {{ $value | quote }}
  {{- end }}
  {{- end }}
{{- if .Values.clusterName }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: falcon-kac-meta
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "falcon-kac.labels" . | nindent 4 }}
data:
  ClusterName: {{ .Values.clusterName }}
{{- end -}}
