apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "falcon-image-analyzer.fullname" . }}
  namespace: {{ include "falcon-image-analyzer.namespace" . }}
  labels:
  {{- include "falcon-image-analyzer.labels" . | nindent 4 }}
data:
  SECRETS_AUTODISCOVER_ENABLED: {{.Values.privateRegistries.autoDiscoverCredentials | quote}}
  IAR_AGENT_SERVICE_PORT: {{.Values.iarAgentService.httpPort | quote}}
  WATCHER_LIST_PAGESIZE: {{ .Values.watcher.listPageSize | quote }}
  IS_KUBERNETES: {{ include "falcon-image-analyzer.isKubernetes" . | quote }}
  AGENT_HELM_VERSION: {{ .Chart.Version | quote }}
  LOG_OUTPUT: {{ .Values.log.output | quote }}
  AGENT_CID: {{ include "falcon-image-analyzer.falconCid" . | quote }}
  AGENT_CLUSTER_NAME: {{ .Values.crowdstrikeConfig.clusterName | quote }}
  AGENT_REGISTRY_CREDENTIALS: {{ .Values.privateRegistries.credentials | quote }}
  AGENT_NAMESPACE_EXCLUSIONS: {{ .Values.exclusions.namespace | quote }}
  AGENT_REGISTRY_EXCLUSIONS: {{ .Values.exclusions.registry | quote }}
  AGENT_DEBUG: {{ .Values.crowdstrikeConfig.enableDebug | quote }}
  ENABLE_KLOGS: {{ .Values.crowdstrikeConfig.enableKlogs | quote }}
  AGENT_RUNMODE: {{ include "falcon-image-analyzer.agentrunmode" . | quote }}
  AGENT_REGION: {{ .Values.crowdstrikeConfig.agentRegion | quote }}
  AGENT_TEMP_MOUNT_SIZE: {{ include "falcon-image-analyzer.tempvolsize" . | quote }}
  {{- if .Values.daemonset.enabled }}
  AGENT_RUNTIME: {{ .Values.crowdstrikeConfig.agentRuntime | quote }}
  AGENT_RUNTIME_SOCKET: {{ include "falcon-image-analyzer.agentRuntimeSocket" . | quote }}
  {{- end }}
  AGENT_MAX_CONSUMER_THREADS: {{ .Values.crowdstrikeConfig.agentMaxConsumerThreads | quote }}
  {{- if .Values.proxyConfig.HTTP_PROXY }}
  HTTP_PROXY: {{ .Values.proxyConfig.HTTP_PROXY }}
  {{- end }}
  {{- if .Values.proxyConfig.HTTPS_PROXY }}
  HTTPS_PROXY: {{ .Values.proxyConfig.HTTPS_PROXY }}
  {{- end }}
  {{- if .Values.proxyConfig.NO_PROXY }}
  NO_PROXY: {{ .Values.proxyConfig.NO_PROXY }}
  {{- end }}
